{% extends 'base.html' %}
{% block 'title' %} About us {% endblock %}
{% block 'content' %} 
<div class="row" style="height:100vh;">
    <div class="col text-center p-1"><h1>About us</h1>
    <p>Being inspired by religious Guide Sri Brahmachari Shukhanand, Shree Anand Tiwari founded 'Anand Ashram' on 3rd September 1995 at Ballia UP, for spreading awareness towards yoga, spiritual realization and for service of humanity; it has been working since its foundation in service of humanity in vivid form.</p>
    </div>
</div>
{% endblock %}